body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cover {
  background-image: url(https://www.aahung.org/upload/HomeSlider/5433-slider2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 20em;
  background-size: cover;
}

/* element.style {
  min-width: 17.5em !important;
  max-height: 41em !important;
  overflow-y: auto;
} */

/* for black navbar (it will show in view mode for forms as well) */
.navbar {
  height: 3.2em !important;
}

/* spacing div for autocomplete select and nav bar for forms in view mode */
.spanSpaceDiv {
  height: 3.2em;
}

.sideSrhmHeaderDiv {
  /* background: #522a71; */
  /* height: 50px; */
  background-image: url(https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 2.5em;
  background-size: cover;
  /* text-align: justify; */
  padding-left: 0%;
}

.sidenav---sidenav---_2tBP {
  background:#522a71 !important;
}

.sc-bdVaJa { /* in SHRM main page */
  background: #522a71 !important;
}

.sc-bZQynM { /* in LSE main page */
  background: #522a71 !important;
}

.sc-gqjmRU { /* in COMMS main page */
  background: #522a71 !important;
}

.sc-kAzzGY { /* in Report main page */
  background: #522a71 !important;
}

.sc-ckVGcZ { /* in Admin main page */
  background: #522a71 !important;
}

.sc-EHOje { /* in SHRM main page */
  /* background: #fff !important; */
  padding: 0 0 !important;
  background-image: url("https://i.ibb.co/wr9pZ7x/background-Imag2.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
  min-height: 100vh;
}

.sc-gZMcBi { /* in LSE main page */
  /* background: #fff !important; */
  padding: 0 0 !important;
  background-image: url("https://i.ibb.co/wr9pZ7x/background-Imag2.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
  min-height: 100vh;
}

.sc-cSHVUG { /* in COMMS main page */
  /* background: #fff !important; */
  padding: 0 0 !important;
  background-image: url("https://i.ibb.co/wr9pZ7x/background-Imag2.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
  min-height: 100vh;
}

.sc-dxgOiQ { /* in Report main page */
  background: #fff !important;
  padding: 0 0 !important;
}

.sc-kkGfuU { /* in Admin main page */
  background: #fff !important;
  padding: 0 0 !important;
}

.hfeJEx  { /* for SHRM header in SHRM main page */
  /* padding: 0 1px !important; */
  padding: 0 1px !important;
}

.isfBMy /* for LSE header in LSE main page */ {
  padding: 0 1px !important;
}

.gmjwJD /* for COMMS header in COMMS main page */ {
  padding: 0 1px !important;
}

.efNMiW  { /* for Report header in Report main page */
  /* padding: 0 1px !important; */
  padding: 0 1px !important;
}

.hkDGyQ {  /* for Admin header in Admin main page */
  padding: 0 1px !important;
}

/* Similarly define for Comms page */

.link {
  color: white;
}

/* .link:hover {
   color: #212121;
} */

.sidenav---sidenav-subnav---1EN61 {
  background: #ef6c00;
  max-height: 443px !important;
  overflow-y: auto !important;
  width: 350px !important;
  overflow-x: hidden;
}

.sidenav---navicon---3gCRo {
  background: #522a71;
}

.navItemSeparator {
  border-bottom: 3px solid #e65100;
  text-decoration:none;
  /* color: #e65100;         */
  margin-right:5px;
  height:30px;
  /* line-height:46px;  */
  padding:0 5px 0 5px;
  font-size:50px;
}

.main-card {
  font-size: 0.8rem !important;
  margin-top: 0.5em !important;
  background: white !important;
  border: 1px solid #f3e5f5
}

.card-header {
  /* background: white !important; */
  border: 0.5px solid #f3e5f5 ;
  border-radius: 2px !important;
}

.center-col {
  /* flex: 1; */
  /* background: #aaa; */
  /* overflow-y: scroll; */
  max-height: 470px;
  min-height: 470px;
  overflow-y: scroll;
}

.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: #ef6c00 !important;
}

.custom-select {
  font-size: 0.8rem !important;
}

.form-control {
  font-size: 0.8rem !important;
  /* border: 0.4px solid #ffcc80 !important; TODO: will apply this afterwards*/
  /* box-shadow: 0 1px 2px 1px #e1bee7  !important; TODO: will apply this afterwards*/
}

.errorMessage {  /* for displaying error message next to field in span */
  color: red;
  font-weight: bolder;
  /* text-decoration: underline; */
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  /* border: 1px solid grey; */
  /* border-width: 1px 1px; */
  /* padding-left: 25px; */
}

/* input:disabled {
  color: rgb(84, 84, 84);
  cursor: default;
  background-color: #FFF0F5 !important;
} */

.css-yk16xz-control {
  font-size: 0.8rem !important;
  /* border: 0.4px solid #ffcc80 !important; TODO: will apply this afterwards */ 
  /* box-shadow: 0 1px 2px 1px #e1bee7  !important; TODO: will apply this afterwards */
}

.css-1r4vtzz {
  /* border: 0.4px solid #ffcc80 !important; TODO: will apply this afterwards*/
  /* box-shadow: 0 1px 2px 1px #e1bee7  !important; TODO: will apply this afterwards*/
  width: 40em !important;
  /* color: #495057 !important; */
  height: calc(1.5em + .75rem + 2px) !important;
  border-radius: .25rem !important;
  /* font-size: 1rem !important; */
    font-weight: 400 !important;
    line-height: 1.5 !important;
  border: 1px solid #ced4da;

}

.css-48ayfv {
  /* border: 0.4px solid #ffcc80 !important; TODO: will apply this afterwards*/
  width: 40em !important;
  /* color: #495057 !important; */
  height: calc(1.5em + .75rem + 2px) !important;
  border-radius: .25rem !important;
  /* font-size: 1rem !important; */
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.css-11unzgr {
  max-height: 14.5em !important;
}

/*.css-1jllj6i-control {  multi checkbox dropdown search */
  /* border: 2.5px solid #ef6c00 !important; TODO: will apply this afterwards*/
/* } */

.css-6y1x9t-control { /* multi checkbox dropdown search */
  /* border: 2.5px solid #ef6c00 !important; TODO: will apply this afterwards*/
}

.monitoringScoreBox {
  border: 1px solid #bdbdbd;
  padding: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.react-overlay-loader-spinner:before {

  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -20px;
  border-radius: 50%;
  border: 3px solid #9c27b0 !important;
  border-top-color: #ef6c00 !important;
  animation: react-overlay-loader-spinner 0.8s linear infinite;
}

#withinMain {
  background: url("img/aahung_bck1_duotone.PNG") !important;
  /* background-repeat: no-repeat; */
  background-size: cover !important;
}

#loginPageFooter {
  justify-content: center !important;
}

#loginAahungLogo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#loginHeading {
  text-align: center;
}

.formLink {
  display: inline-block; 
  width: 100%; 
  color: white;
  font-size: 1.10em;
}

.dumpLabel {
  font-size: 1em;
  font-weight: 400;
}

.required {
  color: red;
  font-size: 1em;
  font-weight: 900;
}

/* report component css STARTS */
#apppage .gradient {
 background: linear-gradient(
      45deg,
      rgba(252, 175, 61, 0.7),
      rgb(144, 78, 194, 0.7) 100%
    );
  }
  
  #apppage .view {
    background-image: url("https://www.aahung.org/upload/HomeSlider/827-IMG_4930.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  
  #apppage h6 {
    line-height: 1.7;
  }
  
  @media only screen and (max-width: 400px) {
    #apppage .animated img {
      max-height: 50vh;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }
  }
  @media only screen and (max-width: 767px) {
    #apppage .animated img {
      max-height: 35vh;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  
  @media (max-width: 767px) and (orientation: landscape) {
    #apppage .animated img {
      max-height: 50vh;
      transform: translateX(-50%);
      left: 50%;
      position: relative;
    }
  }
  @media (max-width: 1000px) and (orientation: landscape) {
    #apppage .view {
      min-height: 150vh;
    }
  }

  
.active2{
    background-color:#ef6c00;
    color: white;
}

.active2:hover{
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
    background: #ef6c00;
    border-radius: 10px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: #EE9800;
 }

 .textWeight > td{
     font-weight: 400;
 }

 .textWeight > th{
    font-weight: 600;
    text-decoration: underline;
}

.btn-default{
    background-color: #ef6c00 !important;
}

/* report component css ENDS */

#table-wrapper {
  max-height: 34.375em;
  overflow: auto;
  display:inline-block;
}

.reportTable th {
  border-color: #bdbdbd;
}

.dateBox{
  width: 6.5em;
  height:auto;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: 0 !important;
  /* padding-left: 1.5em; */
  margin-left: 1.5em;
  font-size: 85% !important;
}

#formDiv {
  background-image: url("https://i.ibb.co/wr9pZ7x/background-Imag2.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
  min-height: 100vh;
}

.ajs-success {
  background-color: #025277 !important;
  font: 800 !important;
  color: white !important;
}

.ajs-error {
  background-color: #f44336 !important;
  font: 800 !important;
  color: white !important;
}

.search {
  padding: 2rem;
  overflow: auto;
  max-height: 38rem;
}
.searchParams {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  /* padding-left: 12rem; */
  padding-right: 12rem;
  border-bottom: 1px solid #dee2e6;
}

.searchFilterDiv{
  display: flex !important;
}

.searchFilter{
  margin-right:10px;
  margin-top:-3px;
}

.secondSearchFilter {
  margin-right:10px;
  margin-top:-3px;
  width: 50em;
  max-height: 5em !important;
}